block topbar
	.container-fluid.border-bottom
		.container
			.row.row-cols-1.row-cols-md-3.py-3.align-items-center.justify-content-evenly
				.col-md-2
					img.img-fluid.w-50(src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/800px-Instagram_logo.svg.png", alt="")
				.col-md-2.mx-5
					input(type="text" class="form-control bg-light" placeholder="Pesquisar")
				nav.col-md-2.fs-4.d-flex.gap-3
					a(href=""): i.bi.bi-house-door
					a(href=""): i.bi.bi-messenger
					a(href=""): i.bi.bi-plus-square
					a(href=""): i.bi.bi-compass
					a(href=""): i.bi.bi-heart
					a(href=""): i.bi.bi-person-circle